<html>
  <head>
    <meta charset="utf-8">
    <title>Zen : from a MVP to something usable</title>
    <link rel="stylesheet" href="../bower_components/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../bower_components/cd-reveal-theme/dist/coderdojo.css">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="../bower_components/reveal.js/lib/css/zenburn.css">
    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../bower_components/reveal.js/css/print/pdf.css' : '../bower_components/reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Zen : from a MVP to something usable</h1>
          <p>slides : http://github.com/CoderDojo/deck-2016-dojocon</p>
          <span>Daniel@MakeItPretty / Guillaume@MakeItWork</span>
        </section>
        <section>
          <h1>Reminder : Goals of Zen</h1>
          <ul>
            <li>Helping dojos</li>
            <li>Empowering children</li>
          </ul>
          <aside class="notes">
            Helping the mouvement to grow
            Giving children the opportunity to understand technology, and prove it
          </aside>
        </section>
        <section>
          <h1>What was done before last year</h1>
          <ul>
            <li>Booking system</li>
            <li>Dojo listing</li>
            <li>Changes in the dev team</li>
          </ul>
        </section>
        <section>
          <h1>Since then</h1>
          <ul>
            <li>Redesign</li>
            <li>Security by design</li>
            <li>Onboarding</li>
            <li>Badge evidence</li>
          </ul>
          <aside class="notes">
            to solve usability issues, too much time on our side on support
            Security :
              - multiple partenrship to give us tools to
              - hachkatons with ppl psecialised in security
            Unify the look and feel :
              - users management,
              - dojo/user pages,
          </aside>
        </section>
        <section>
          <h1>Growth</h1>
          <ul>
            <li>16k users</li>
            <li>1.5k dojos</li>
            <li><b>1.5k users with badges</b></li>
          </ul>
          <aside class = "notes">
            W.A.T. badges ??
          </aside>
        </section>
        <section>
          <h1>Hopefully by this year</h1>
          <ul>
            <li>Start a dojo</li>
            <li>My Dojos page</li>
            <li>Booking enhancement</li>
            <li>Ticketing admin redesign</li>
            <li>Bulk management of users</li>
            <li>Getting out of MVP : Testing</li>
          </ul>
          <aside class="notes">
            While we understand than when Zen was still a MVP, it seems we have a retention issue post-creation of a dojo
            hence the new SAD process
            (in case you say SAD, explain why it's sad (13 steps :D))
            New My Dojos page = help SAD botstrap, display info
            Booking : Clarity on recurring events/term events
            Review Streamlining onboarding from booking flow/add-children
          </aside>
        </section>
        <section>
          <h1>We're far from finished</h1>
          <ul>
            <li>Projects</li>
            <li>Kata</li>
            <li>Dasbhoards</li>
            <aside class="notes">
              Projects = hosting + display, link to badges
                Some already have a hosting, how to integrate?
              Kata :
                - new resource system
                - new content formatting (bento, visual path)
            </aside>
          </ul>
        </section>
        <section>
          <h1>You ?</h1>
          <ul>
            <li>Forums</li>
            <li>Students</li>
            <li>Github, Kata, translations</li>
            <li>IRL</li>
            <aside class="notes">
              Forums : we still wait for your feedbacks, and (ir)regularly publish our ideas there. Please come :)
              Students : 2 projects ongoing : a containerized deployment of zen, a stat oriented dashboard for cdf
              Help us, still : pick a small issue, even once every 3 months and have a look at it :)
              Translations : many issues, new process of verification to come
              IRL : what can we do out of the dojo itself? Workshop to create some sushi ? Regular hackhatons ?
            </aside>
          </ul>
        </section>
        <section>
          <h1>Us ?</h1>
          <p>Still reachable</p>
          <p>Want to hear from you :)</p>
        </section>
      </div>
    </div>
    <script src="../bower_components/reveal.js/js/reveal.js"></script>
    <script src="../bower_components/reveal.js/lib/js/head.min.js"></script>
    <script>
      Reveal.initialize({
        controls: false,
        mouseWheel: true,
        dependencies: [
          { src: '../bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '../bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '../bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true },
          { src: '../bower_components/reveal.js/plugin/notes/notes.js', async: true }
        ]
      });
    </script>
  </body>
</html>
